
body {
  max-width: 1080px;
  width: 100%;
  margin: 20px auto !important;
  background: #e6e6e6;
}

div.Geronimo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  flex-direction: column;
}

div.Geronimo-explorers,
div.Geronimo-explorers table {
  width: inherit;
}

form.Geronimo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

div.Geronimo-form-response {
  border-radius: 5px;
  background-color: #e5e5e5;
}

form.Geronimo-explorer-form {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}
